---
interface Props {
	id: number
	title: string
	description: string
	technologies: string[]
	repoLink?: string
	cover: string
}

const { id, title } = Astro.props
---

<div>
	<a href=`/projects/${id}`>{title}</a>
</div>
