---
import { educationInfo } from '@/assets/data/education-info'
import CourseItem from './CourseItem.tsx'
import Heading from '../Heading.astro'
---

<div class="flex flex-col items-center">
	<Heading title="Certifications and Learning" type="h2" />

	<div class="flex w-[500px] flex-1 flex-col items-start gap-3">
		{educationInfo.map((course) => <CourseItem client:visible course={course} />).reverse()}
	</div>
</div>
