---
import { educationInfo } from '@/assets/data/education-info'
import { Image } from 'astro:assets'
import CourseItem from './CourseItem.tsx'
---

<div class="flex flex-col gap-6">
	{educationInfo.map((course) => <CourseItem client:visible course={course} />)}
</div>
