---
const { title } = Astro.props
---

<div class="flex flex-1 flex-col text-center text-primary xs:flex-none">
	<h3 class="mb-3 text-base font-light">{title}</h3>
	<div
		class="flex max-h-96 max-w-[85vw] flex-wrap items-center justify-center gap-6 rounded-sm bg-primary/10 p-4 dark:bg-primary/20"
	>
		<slot />
	</div>
</div>
