---
const { title } = Astro.props
---

<div
	class="flex flex-1 flex-col rounded-sm bg-primary/10 px-3 py-2 text-center text-primary dark:bg-primary/20 xs:flex-none"
>
	<h3 class="mb-3 text-base font-light">{title}</h3>
	<div class="flex items-center justify-around gap-4 pb-2">
		<slot />
	</div>
</div>
