---
const { title } = Astro.props
---

<div class="rounded-sm bg-primary/50 px-3 py-2 text-center text-white dark:bg-primary/20">
	<h3 class="mb-3 text-sm font-thin">{title}</h3>
	<div class="flex gap-3">
		<slot />
	</div>
</div>
