---
const { title } = Astro.props
---

<div class="rounded-sm bg-primary/50 px-3 py-2 text-center text-white dark:bg-primary/20">
	<h3 class="mb-3 text-base font-light">{title}</h3>
	<div class="flex items-center justify-center gap-3 pb-2">
		<slot />
	</div>
</div>
