---
const { title } = Astro.props
---

<div class="flex flex-1 flex-col items-center gap-4 rounded-sm bg-primary/10 p-3">
	<slot />
	<p class="whitespace-nowrap text-xs font-normal">
		{title}
	</p>
</div>
