---
import AstroIcon from '../../assets/svgs/technologies/astro-svg.astro'
import AppwriteIcon from '../../assets/svgs/technologies/appwrite-svg.astro'
import ClerkIcon from '../../assets/svgs/technologies/clerk-svg.astro'
import Convex from '../../assets/svgs/technologies/convex-svg.astro'
import CssIcon from '../../assets/svgs/technologies/css-svg.astro'
import JavascriptIcon from '../../assets/svgs/technologies/javascript-svg.astro'
import MongodbIcon from '../../assets/svgs/technologies/mongodb-svg.astro'
import MongooseIcon from '../../assets/svgs/technologies/mongoose-svg.astro'
import MuxIcon from '../../assets/svgs/technologies/mux-svg.astro'
import NextjsIcon from '../../assets/svgs/technologies/nextjs-svg.astro'
import NodejsIcon from '../../assets/svgs/technologies/nodejs-svg.astro'
import ReactIcon from '../../assets/svgs/technologies/react-svg.astro'
import SassIcon from '../../assets/svgs/technologies/sass-svg.astro'
import ShadcnIcon from '../../assets/svgs/technologies/shadcn-svg.astro'
import StorybookIcon from '../../assets/svgs/technologies/storybook-svg.astro'
import TailwindIcon from '../../assets/svgs/technologies/tailwind-svg.astro'
import TypescriptIcon from '../../assets/svgs/technologies/typescript-svg.astro'
import TechnologiesSubCont from './TechnologiesSubCont.astro'
---

<div>
	<h2 class="mb-10 dark:text-secondary">Technologies</h2>
	<div class="flex w-full max-w-[900px] flex-wrap justify-center gap-12">
		<TechnologiesSubCont title="Languages">
			<JavascriptIcon />
			<TypescriptIcon />
		</TechnologiesSubCont>

		<TechnologiesSubCont title="Frameworks and Libraries">
			<ReactIcon />
			<NextjsIcon />
			<NodejsIcon />
			<TailwindIcon />
			<AstroIcon />
		</TechnologiesSubCont>

		<TechnologiesSubCont title="Styling">
			<CssIcon />
			<SassIcon />
			<ShadcnIcon />
			<StorybookIcon />
		</TechnologiesSubCont>

		<TechnologiesSubCont title="Databases">
			<MongodbIcon />
			<MongooseIcon />
		</TechnologiesSubCont>

		<TechnologiesSubCont title="Backend Services">
			<AppwriteIcon />
			<ClerkIcon />
			<Convex />
			<MuxIcon />
		</TechnologiesSubCont>
	</div>
</div>
