:root {
    --primary-color: #0b1c41;
    --secundary-color: rgb(255, 255, 255);
    --terciary-color: #05f9d8;
}

*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: Nunito, sans-serif;
    overflow-x: hidden;
    //background-color: var(--primary-color);
}
