.education-section {
    margin: 10rem;
    padding-left: 14rem;
    display: flex;
    align-items: center;
    color: #1a1a1a;
    flex-direction: column;

    .title {
        h2 {
            margin-bottom: 3rem;
            font-size: 6rem;
            color: var(--terciary-color);
            background-color: var(--primary-color);
        }
    }

    p {
        text-align: center;
    }

    .faq {
        margin: 1.5rem;
        padding: 1.5rem;
        width: 76.8rem;
        font-weight: 400;
        max-width: 90vw;
        cursor: pointer;
        background-color: white;
        border: 3px solid var(--color-secundario);
        border-radius: 0.8rem;
        box-shadow: 0rem 0rem 1rem rgba(255, 255, 255, 0.2);
        // transition: all 0.4s ease;

        .faq-question {
            position: relative;
            font-size: 1.6rem;
            padding-right: 8rem;
            transition: all 0.4s ease;
            color: var(--color-secundario);

            @media only screen and (max-width: 600px) {
                padding-right: 4rem;
            }

            &::after {
                content: "";
                position: absolute;
                top: 45%;
                right: 1rem;
                transform: rotate(45deg) translateY(-50%);
                width: 1.5rem;
                height: 1.5rem;
                background-image: url("../assets/icons/x-icon.png");
                // filter: grayscale(100%) invert(100%);
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                transition: all 0.4s ease-out;
            }
        }

        .faq-answer {
            height: 0;
            opacity: 0;
            font-size: 1.5rem;
            overflow-y: hidden;
            transition: all 0.4s;
        }

        &.open {
            .faq-question {
                margin-bottom: 1.5rem;

                &::after {
                    transform: translateY(-50%) rotate(-90deg);
                }
            }

            .faq-answer {
                opacity: 1;
                height: auto;
                transition: all 0.4s 0.2s;
            }
        }
    }
}
