:root {
    --primary-color: #262b31;
    --secundary-color: rgb(255, 255, 255);
    --terciary-color: #77f8e9;
}

*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: Nunito, sans-serif;
}

.App {
    background-color: var(--primary-color);
    margin-left: 14rem;
}
