.section-title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secundary-color);

    i {
        padding: 1.5rem;
        font-size: 5rem;
        border-radius: 10px;
        background-color: var(--secundary-color);
        color: var(--primary-color);
        z-index: 2;
    }

    h2 {
        margin-left: -1rem;
        z-index: 1;
        border-radius: 10px;
        line-height: 1;
        font-size: 4rem;
        padding: 1rem 3rem 1rem 4rem;
        color: var(--primary-color);
        background-color: var(--terciary-color);
    }
}

.minimize {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

/* .minimize-description {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
} */

@mixin no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
