@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dangrek&display=swap");
.section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secundary-color);
}
.section-title i {
  padding: 1.5rem;
  font-size: 5rem;
  border-radius: 10px;
  background-color: var(--secundary-color);
  color: var(--primary-color);
  z-index: 2;
}
.section-title h2 {
  margin-left: -1rem;
  z-index: 1;
  border-radius: 10px;
  line-height: 1;
  font-size: 4rem;
  padding: 1rem 3rem 1rem 4rem;
  color: var(--primary-color);
  background-color: var(--terciary-color);
}

.minimize {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

/* .minimize-description {
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
} */
:root {
  --primary-color: #262b31;
  --secundary-color: rgb(255, 255, 255);
  --terciary-color: #77f8e9;
}

*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  font-family: Nunito, sans-serif;
}

.App {
  background-color: var(--primary-color);
  margin-left: 14rem;
}

.nav {
  height: 100vh;
  width: 14rem;
  margin-left: -14rem;
  position: fixed;
  background-color: var(--primary-color);
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  border-right: 6px solid var(--secundary-color);
  z-index: 9999;
}
.nav .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.nav .logo svg {
  fill: var(--secundary-color);
  width: 8rem;
  height: 8rem;
  transition: all 0.3s;
}
.nav .logo svg:hover {
  transform: scale(1.1);
  fill: var(--terciary-color);
}
.nav .sections-links {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  z-index: 1;
}
.nav .sections-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 6rem;
  padding: 1rem;
  background-color: var(--secundary-color);
  border-radius: 10px;
  color: var(--primary-color);
  font-size: 3rem;
  transition: color 0.4s;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
}
.nav .sections-links a:hover {
  color: var(--terciary-color);
  transition: all 0.6s;
}
.nav .sections-links a:hover p {
  transform: translateX(29rem);
}
.nav .sections-links a p {
  font-size: 2rem;
  color: var(--primary-color);
  background-color: var(--terciary-color);
  position: absolute;
  white-space: nowrap;
  padding: 0.5rem 2rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  left: -20rem;
  transition: all 0.5s;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
  z-index: -1;
}
.nav .social-links {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}
.nav .social-links a {
  font-size: 5rem;
  color: var(--secundary-color);
  transition: all 0.3s;
}
.nav .social-links a:hover {
  transform: scale(1.1);
  color: var(--terciary-color);
}

.presentation {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: column;
  color: var(--secundary-color);
  align-items: center;
  position: relative;
  z-index: auto;
}
.presentation .hello {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
             supported by Chrome, Edge, Opera and Firefox */
  right: 0;
  top: 0;
  position: absolute;
  font-size: 2rem;
  padding: 3rem;
  justify-self: self-start;
  align-self: flex-end;
}
.presentation h1 {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
             supported by Chrome, Edge, Opera and Firefox */
  font-size: 12rem;
  color: transparent;
  line-height: 1.6;
  font-family: "Dangrek", cursive;
  -webkit-text-stroke: 0.1px var(--secundary-color);
  background-image: url(../assets/img/background-name.png);
  -webkit-background-clip: text;
  background-clip: text;
  background-position: 0 0;
  animation: back 30s linear infinite;
}
.presentation .position {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
             supported by Chrome, Edge, Opera and Firefox */
  font-size: 5rem;
  color: var(--terciary-color);
}
.presentation .arrow-down {
  background-color: var(--terciary-color);
  font-size: 5rem;
  padding: 1rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  color: var(--primary-color);
  border-radius: 10px;
  animation: zoom-in-zoom-out 2s ease infinite;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
  transition: all 0.3s;
}
.presentation .arrow-down:hover {
  color: var(--secundary-color);
}

.wave {
  padding-left: 1rem;
  font-size: 4rem;
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 3s; /* Change to speed up or slow down */
  animation-iteration-count: infinite; /* Never stop waving :) */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
@keyframes back {
  100% {
    background-position: 2000px 0;
  }
}
@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}
.education-section {
  padding: 10rem;
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-color);
}
.education-section .container {
  margin-top: 8rem;
  width: 80%;
  height: 50rem;
}
.education-section .container .degree {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.education-section .container .degree-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  background-color: var(--terciary-color);
}
.education-section .container .degree-header h3 {
  line-height: 2;
  font-size: 2.2rem;
}
.education-section .container .degree-header .icon {
  position: relative;
  font-size: 2.5rem;
  padding: 0 1rem;
}
.education-section .container .degree-header .icon i {
  transform: translate(-50%, -50%);
  position: absolute;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
.education-section .container .degree-description {
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  background-color: var(--secundary-color);
}
.education-section .container .degree-description-info {
  grid-column: 1/6;
  font-size: 1.5rem;
}
.education-section .container .degree-description-info ul {
  columns: 2;
  column-gap: 3rem;
  -webkit-columns: 2;
  -moz-columns: 2;
  list-style-position: outside;
}
.education-section .container .degree-description-info ul li {
  margin-bottom: 1rem;
  page-break-inside: avoid;
  break-inside: avoid-column;
}

/*# sourceMappingURL=index.css.map */
