---
import { ModeToggle } from '../ModeToggle'
import NavbarItem from './NavbarItem'

const url = new URL(Astro.request.url)
const path = url.pathname

const isActive = (name: string) => {
	path.includes(name)
}
---

<nav
	class="fixed bottom-0 z-[100] w-full transform bg-secondary p-2 lg:bottom-[unset] lg:left-6 lg:top-1/2 lg:w-[unset] lg:-translate-y-1/2 lg:bg-transparent lg:p-[unset]"
>
	<ul class="flex items-center justify-around gap-8 lg:flex-col lg:justify-center">
		<NavbarItem client:visible active={path === '/'} path="/" type="svg" tooltipText="Home" />
		<NavbarItem
			client:visible
			active={path.includes('/projects')}
			path="/projects"
			type="project"
			tooltipText="Projects"
		/>
		<NavbarItem
			client:visible
			active={path.includes('/work')}
			path="/work"
			type="work"
			tooltipText="Work Experience"
		/>
		<NavbarItem
			client:visible
			active={path.includes('/education')}
			path="/education"
			type="education"
			tooltipText="Education"
		/>
	</ul>
</nav>
