---
import Layout from '../layouts/MainLayout.astro'
import CoursesCont from '../components/education/CoursesCont.astro'
import TechnologiesCont from '@/components/education/TechnologiesCont.astro'
import NextSteps from '@/components/education/NextSteps.astro'
import Heading from '@/components/Heading.astro'
---

<Layout title="Miguel Moreno - Education">
	<Heading title="Education" type="h1" />

	<div class="flex w-full flex-col gap-14">
		<p class="font-lato text-base font-light md:text-xl">
			Explore through my web development courses and trainings. Discover the skills and knowledge
			I&apos;ve gained in this exciting learning adventure.
		</p>

		<TechnologiesCont />
		<CoursesCont />
		<NextSteps />
	</div>
</Layout>
