---
import Layout from '../layouts/MainLayout.astro'
import CoursesCont from '../components/education/CoursesCont.astro'
import TechnologiesCont from '@/components/education/TechnologiesCont.astro'
import NextSteps from '@/components/education/NextSteps.astro'
---

<Layout title="Miguel Moreno - Education">
	<div class="flex w-full flex-col gap-20">
		<p class="dark:text-secondary">
			Explore through my web development courses and trainings. Discover the skills and knowledge
			I&apos;ve gained in this exciting learning adventure.
		</p>

		<TechnologiesCont />
		<CoursesCont />
		<NextSteps />
	</div>
</Layout>
