---
import Layout from '../layouts/MainLayout.astro'
---

<Layout title="Welcome to Astro.">
	<h1 class="text-3xl text-red-100">hello</h1><h1
		class="font-robotoSlab font-200 text-2xl text-white"
	>
		Este es un título con Roboto Slab.
	</h1>
	<p class="text-2xl font-[300] text-white">Este es un párrafo con Lato.</p>
</Layout>
