---
import Layout from '../layouts/MainLayout.astro'
import SocialsImage from '../components/home/SocialsImage.astro'
import Description from '@/components/home/Description.astro'
---

<Layout title="Miguel Moreno's Portfolio">
	<div class="flex w-full flex-col items-center justify-center">
		<SocialsImage />
		<h1 class="mt-20 font-robotoSlab text-4xl font-bold tracking-wide">Miguel Moreno</h1>
		<h2 class="p-5 font-robotoSlab text-xl font-thin">Software Developer</h2>

		<Description />
	</div>
</Layout>
