---
import Layout from '../layouts/MainLayout.astro'
import SocialsImage from '../components/home/SocialsImage.astro'
import Description from '@/components/home/Description.astro'
---

<Layout title="Miguel Moreno's Portfolio">
	<div class="mt-20 flex w-full flex-col items-center justify-center">
		<SocialsImage />
		<h1 class="mt-10 text-3xl dark:text-secondary">Miguel Moreno</h1>
		<h2 class="p-2 dark:text-secondary">Software Developer</h2>

		<Description />
	</div>
</Layout>
