---
import Layout from '../layouts/MainLayout.astro'
import { workInfo } from '@/assets/data/work-info'
import Heading from '@/components/Heading.astro'
import WorkItem from '@/components/work/WorkItem'
---

<Layout title="Miguel Moreno - Work Experience">
	<Heading title="Work Experience" type="h1" />
	<div class="flex w-full flex-col gap-5">
		<p class="text-xl font-light">
			Though my current work experience may not be directly tied to web development, it has granted
			me a unique perspective. Despite coming from different fields, I&apos;m really keen on jumping
			into web development. I&apos;m excited to take on new challenges and put my energy into
			learning and growing in this dynamic field. I&apos;m ready for any opportunity that comes my
			way and committed to making my mark in this exciting industry.
		</p>

		<div class="mt-10 flex w-[90%] flex-col gap-8 self-center md:w-[700px]">
			{workInfo?.map((work) => <WorkItem client:visible work={work} />).reverse()}
		</div>
	</div>
</Layout>
