<div class="mt-10 flex max-w-[50rem] flex-col gap-6 font-lato text-base font-light md:text-xl">
	<p>Hello! My name is Miguel.</p>
	<p>
		I would like to point out that I have always been a curious person, who loves to discover how
		things really work. At the end of my degree in Administration and Finance, I decided to explore
		different career opportunities. I started learning digital marketing, established a small online
		business, learned and put into practice the basics of car mechanics, enrolled in a course about
		stock market investment and financial analysis, and took my first steps in the world of web
		development.
	</p>
	<p>
		After six months working as an administrative assistant, I had the great opportunity to take the
		admission tests to the coding campus of Telefonica, known as ‘42 Malaga’. I spent a month doing
		projects and exams to finally be one of those selected among more than 300 people and have the
		privilege of expanding my education in one of the most innovative campuses in the world, where I
		studied for more than a year.
	</p>
	<p>
		Towards the end of 2022, I co-founded a project with a friend taking on the role of community
		manager for several influencers, achieving excellent results. One year later, I decided to leave
		the project aside in order to continue growing in what I really like, web development.
	</p>
	<p>
		I have specialized in Frontend development, but I am eager to level up my skills in UX/UI and
		backend development to become a skilled full-stack developer. I am also excited to explore
		mobile development and AI integration to create even better user experiences. However, right
		now, I am focused on learning German to unlock more opportunities in international markets.
	</p>
	<p>
		I look forward to combining my passion for technology and administration in a forward-thinking
		company where I can make a positive impact and continue growing.
	</p>
</div>
