<div class="mt-10 flex max-w-[50rem] flex-col gap-6 font-lato text-base font-light md:text-xl">
	<p>Hello! My name is Miguel.</p>
	<p>
		I’ve always been a hands-on and curious person, passionate about understanding how things are
		built and improving processes. After finishing my degree in Administration and Finance, I worked
		as an administrative clerk, developing skills in organization, time management, and efficient
		problem-solving. Over time, I realized that my true interest lies in working with my hands and
		contributing to tangible results.
	</p>
	<p>
		Coming from a family with experience in construction, my grandfather worked on construction
		sites and my father specialized in assembling furniture. I’ve always been drawn to the world of
		building and transforming spaces. This background inspired me to pursue a career in the
		construction industry, particularly in housing construction and integral renovations.
	</p>
	<p>
		In my previous roles, I developed and strengthened my ability to manage tasks, coordinate
		projects, and pay attention to detail. These skills are transferable to construction, where
		organization and precision are essential. Additionally, my curiosity about how things work has
		motivated me to learn about construction techniques and tools, aiming to become a valuable team
		member in this field.
	</p>
	<p>
		Currently, I am focused on learning German to better integrate into Switzerland’s construction
		sector and collaborate effectively with diverse teams.
	</p>

	<p>
		My goal is to contribute to the construction and renovation of homes by applying my
		organizational skills and enthusiasm for learning new techniques. I am eager to grow
		professionally in this field, gaining practical experience and continuously improving my
		abilities to deliver high-quality results.
	</p>
</div>
