<div class="mt-10 flex max-w-[50rem] flex-col gap-6 font-lato text-base font-light md:text-xl">
	<p>Hello! My name is Miguel.</p>
	<p>
		I've always been a curious person, passionate about discovering how things really work. After
		finishing my degree in Administration and Finance, I realized that technology had a fundamental
		role in optimizing processes in the office environment. This led me to explore different areas,
		such as digital marketing and web development.
	</p>
	<p>
		After gaining experience working as an administrative clerk, I decided to deepen my knowledge in
		technology and took the admission tests for Telefonica's programming campus, known as '42
		Málaga'. Being selected among more than 300 people, I had the opportunity to study in one of the
		most innovative campuses in the world, where I developed technical skills that complement my
		administrative profile.
	</p>
	<p>
		Towards the end of 2022, I co-founded a project with a friend taking on the role of community
		manager for several influencers, achieving excellent results. One year later, I decided to leave
		the project aside in order to continue growing in what I really like, web development.
	</p>
	<p>
		Throughout my professional career, I have combined my organizational skills with technological
		tools, always motivated by a special interest in understanding how the programs and digital
		platforms that I use on a daily basis work. This combination has allowed me to improve
		efficiency in process management and optimize the use of digital tools.
	</p>
	<p>
		Currently, I am focused on learning German to better adapt to Switzerland's working environment
		and communicate effectively in a multicultural team.
	</p>

	<p>
		My goal now is to apply my management experience and technological knowledge in a dynamic
		company, where I can provide innovative solutions that improve internal processes.
	</p>
</div>
