---
import VideoPlayer from '../projects/VideoPlayer'
import SocialsLinks from './SocialsLinks'
---

<div class="relative">
	<div class="relative m-[20px] flex flex-col items-center justify-center">
		<VideoPlayer client:only="react" videoId="FCY8LFWa-h0" />

		<SocialsLinks />
	</div>
</div>
