---
import { Image } from 'astro:assets'
import VideoPlayer from '../projects/VideoPlayer'
import SocialsLinks from './SocialsLinks'
import profileImage from '../../../public/profile-photo.jpeg'
---

<div class="relative">
	<div class="relative m-[20px] flex flex-col items-center justify-center">
		<!-- 	<VideoPlayer client:only="react" videoId="awa4OkxQ6bM" /> -->
		<Image class="w-[18rem] rounded-lg md:w-[25rem]" src={profileImage} alt="profile image" />
		<SocialsLinks />
	</div>
</div>
