---
import { SiAstro } from 'react-icons/si'
---

<footer class="flex items-center justify-center gap-2 p-4 text-white/70">
	<p>Built by <span class="font-bold">Miguel Moreno</span> with</p>
	<SiAstro className="h-5 w-5" />
</footer>
