---
import { cn } from '@/lib/utils'

const { title, type } = Astro.props

console.log(type, title)
---

{type === 'h1' && <h1 class="mb-10 text-4xl">{title}</h1>}
{type === 'h2' && <h2 class="mb-10 text-center text-2xl">{title}</h2>}
