---
import { Button } from '@/components/ui/button'
import { FolderInput, Globe } from 'lucide-react'

const { deployLink, repoLink } = Astro.props
---

<Button asChild
	><a
		href={deployLink}
		target="_blank"
		class="group flex h-10 items-center gap-2 rounded-sm bg-primary px-3 text-base text-secondary transition-all"
	>
		<p class="font-bold">Go to Website</p>
		<Globe className="h-5 w-5 transition-all duration-500 group-hover:rotate-180" />
	</a></Button
>

<Button asChild
	><a
		href={repoLink}
		target="_blank"
		class="group flex h-10 items-center gap-2 rounded-sm bg-primary px-3 text-base text-secondary transition-all"
		><p class="font-bold">Go to Repo</p>
		<FolderInput className="h-5 w-5 transition-all duration-700 group-hover:rotate-360" /></a
	></Button
>
