---
import Footer from '@/components/Footer.astro'
import Navbar from '@/components/navigation/Navbar.astro'
import '@/styles/globals.css'
import { ViewTransitions } from 'astro:transitions'
import { ModeToggle } from '@/components/ModeToggle'

interface Props {
	title: string
}

const { title } = Astro.props
---

<script defer is:inline>
	const theme =
		localStorage.getItem('theme') ||
		(window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light')
	document.write(`<style>:root { --theme-color: ${theme === 'dark' ? '#333' : '#FFF'}; }</style>`)
</script>
<html lang="en">
	<head>
		<ViewTransitions />
		<meta charset="UTF-8" />
		<meta name="description" content="Welcome to Miguel Moreno's Portfolio" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body
		class="scrollbar-none scrollbar-webkit-none relative flex min-h-[100vh] flex-col items-center overflow-y-scroll bg-secondary"
	>
		<ModeToggle client:load />
		<Navbar />

		<!-- 	<div
			class="fixed z-50 m-2 flex flex-col items-center rounded-sm bg-orange-500 p-4 text-white md:hidden"
		>
			<p>Web under construction 🚧</p>
			<p class="mt-3 text-sm font-light">
				I am currently working on the website to make it look nice, maybe you find some parts
				without styling. Desktop version is available with full styling.
			</p>
		</div> -->

		<main class="mt-20 flex w-full max-w-[1200px] flex-1 flex-col px-4 sm:px-14 lg:px-40">
			<slot />
		</main>
		<Footer />
	</body>
</html>
