@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");
/*
- FONT SIZE (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
- SPACING SYSTEM (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 40 / 48 / 56 / 64 / 80 / 96 / 128
*/
*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: Quicksand, sans-serif;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #bcbebf;
  height: 200vh;
  /******************************************/
  /********* REUSABLE ITEMS ++++++++++++++++/
  /*****************************************/
  /******************************************/
  /********* HEADER         ++++++++++++++++/
  /*****************************************/
  /******************************************/
  /********* INTRODUCTION    ++++++++++++++++/
  /*****************************************/
}
body .container {
  /* 1140px */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
body .header {
  background-color: #212529;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 2.4rem 0.8rem 1.6rem;
}
body .header .logo .header-logo {
  filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.4));
  fill: rgb(232, 234, 237);
  height: 5.6rem;
  width: 5.6rem;
  cursor: pointer;
  transition: fill 0.3s, transform 0.3s;
}
body .header .logo .header-logo:hover {
  fill: rgb(255, 255, 255);
  transform: scale(1.05);
}
body .header .features .features-list {
  display: flex;
  gap: 3.2rem;
  list-style: none;
  text-decoration: none;
}
body .header .features .features-list .feature {
  filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.4));
  padding: 0.8rem;
  font-size: 1.8rem;
  display: block;
  transition: color 0.3s, transform 0.3s;
}
body .header .features .features-list .feature a {
  text-decoration: none;
  color: rgb(232, 234, 237);
  position: relative;
}
body .header .features .features-list .feature a::before {
  content: "";
  position: absolute;
  height: 0.2rem;
  width: 0%;
  border-radius: 1px;
  background-color: rgb(255, 255, 255);
  transition: 0.6s;
  left: 0;
  bottom: -0.5rem;
}
body .header .features .features-list .feature a:hover::before {
  width: 80%;
}
body .header .features .features-list .feature:hover {
  transform: scale(1.05);
  color: rgb(255, 255, 255);
}
body .header .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.4rem;
  text-decoration: none;
  -moz-column-gap: 1.8rem;
       column-gap: 1.8rem;
}
body .header .icons a {
  color: rgb(232, 234, 237);
}
body .header .icons a .icon {
  font-size: 3.2rem;
  filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.2));
  transition: color 0.3s, transform 0.3s;
}
body .header .icons a .icon:hover {
  transform: scale(1.1);
  color: rgb(255, 255, 255);
}
body .section-introduction {
  background-color: rgb(232, 234, 237);
  padding: 4.8rem 0 4.8rem 0;
}
body .section-introduction .title {
  padding-bottom: 4.8rem;
}
body .section-introduction .title .name {
  font-size: 4.4rem;
  text-align: center;
  padding-bottom: 1.2rem;
}
body .section-introduction .title .position {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 500;
}
body .section-introduction .introduction {
  display: flex;
  gap: 4.4rem;
  align-items: center;
  justify-content: space-around;
}
body .section-introduction .introduction .profile {
  width: 100rem;
  display: flex;
  gap: 4.4rem;
  flex-direction: column;
  align-items: center;
}
body .section-introduction .introduction .profile-img {
  text-align: center;
}
body .section-introduction .introduction .profile-img img {
  width: 65%;
  border-radius: 2%;
}
body .section-introduction .introduction .profile-cv {
  color: rgb(232, 234, 237);
  cursor: pointer;
  background-color: #212529;
  border-radius: 1rem;
  transition: transform 0.5s;
  border: none;
}
body .section-introduction .introduction .profile-cv a {
  padding: 1.2rem;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(232, 234, 237);
  gap: 0.8rem;
  font-weight: 500;
}
body .section-introduction .introduction .profile-cv a .down-icon {
  font-size: 1.8rem;
}
body .section-introduction .introduction .profile-cv:hover {
  transform: scale(1.05);
}
body .section-introduction .introduction .profile-cv:active {
  transform: scale(1.03);
}
body .section-introduction .introduction .description {
  align-self: flex-start;
  max-width: 60%;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}/*# sourceMappingURL=styles.css.map */