@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");

/*
- FONT SIZE (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
- SPACING SYSTEM (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 40 / 48 / 56 / 64 / 80 / 96 / 128
*/

$primary-color: #212529;
$secundary-color: rgb(232, 234, 237);
$terciary-color: #bcbebf;
$white: rgb(255, 255, 255);

*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: Quicksand, sans-serif;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: $terciary-color;
    height: 200vh;

    /******************************************/
    /********* REUSABLE ITEMS ++++++++++++++++/
    /*****************************************/

    .container {
        /* 1140px */
        max-width: 120rem;
        padding: 0 3.2rem;
        margin: 0 auto;
    }

    /******************************************/
    /********* HEADER         ++++++++++++++++/
    /*****************************************/

    .header {
        background-color: $primary-color;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.8rem 2.4rem 0.8rem 1.6rem;

        .logo {
            .header-logo {
                filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
                fill: $secundary-color;
                height: 5.6rem;
                width: 5.6rem;
                cursor: pointer;
                transition: fill 0.3s, transform 0.3s;

                &:hover {
                    fill: $white;
                    transform: scale(1.05);
                }
            }
        }

        .features {
            .features-list {
                display: flex;
                gap: 3.2rem;
                list-style: none;
                text-decoration: none;

                .feature {
                    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
                    padding: 0.8rem;
                    font-size: 1.8rem;
                    display: block;
                    transition: color 0.3s, transform 0.3s;

                    a {
                        text-decoration: none;
                        color: $secundary-color;
                        position: relative;

                        &::before {
                            content: "";
                            position: absolute;
                            height: 0.2rem;
                            width: 0%;
                            border-radius: 1px;
                            background-color: $white;
                            transition: 0.6s;
                            left: 0;
                            bottom: -0.5rem;
                        }

                        &:hover::before {
                            width: 80%;
                        }
                    }

                    &:hover {
                        transform: scale(1.05);
                        color: $white;
                    }
                }
            }
        }

        .icons {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 0.4rem;
            text-decoration: none;
            column-gap: 1.8rem;

            a {
                color: $secundary-color;
                .icon {
                    font-size: 3.2rem;
                    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.2));
                    transition: color 0.3s, transform 0.3s;

                    &:hover {
                        transform: scale(1.1);
                        color: $white;
                    }
                }
            }
        }
    }

    /******************************************/
    /********* INTRODUCTION    ++++++++++++++++/
    /*****************************************/

    .section-introduction {
        background-color: aqua;
        padding: 4.8rem 0 9.6rem 0;

        .introduction {
            display: flex;
            gap: 4.4rem;
            align-items: center;
            justify-content: space-around;

            .profile {
                width: 100rem;
                display: flex;
                gap: 4.4rem;
                flex-direction: column;
                align-items: center;

                &-name {
                    font-size: 3.2rem;
                }

                &-img {
                    text-align: center;
                    img {
                        width: 70%;
                        border-radius: 50%;
                    }
                }
            }

            .description {
                max-width: 60%;
                font-size: 1.8rem;
            }
        }
    }
}
