@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap");
/*
- FONT SIZE (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
- SPACING SYSTEM (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 40 / 48 / 56 / 64 / 80 / 96 / 128
*/

$primary-color: #212529;
$secundary-color: rgb(255, 255, 255);
$terciary-color: #bcbebf;
$white: rgb(255, 255, 255);

*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: "Nunito", sans-serif;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: $terciary-color;
    height: 200vh;
    color: $primary-color;

    /******************************************/
    /********* REUSABLE ITEMS ++++++++++++++++/
    /*****************************************/

    .container {
        /* 1140px */
        max-width: 120rem;
        padding: 0 3.2rem;
        margin: 0 auto;
    }

    /******************************************/
    /********* HEADER         ++++++++++++++++/
    /*****************************************/

    .header {
        background-color: $primary-color;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.8rem 2.4rem 0.8rem 1.6rem;

        .logo {
            .header-logo {
                filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
                fill: $secundary-color;
                height: 5.6rem;
                width: 5.6rem;
                cursor: pointer;
                transition: fill 0.3s, transform 0.3s;

                &:hover {
                    fill: $white;
                    transform: scale(1.05);
                }
            }
        }

        .features {
            .features-list {
                display: flex;
                gap: 3.2rem;
                list-style: none;
                text-decoration: none;

                .feature {
                    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
                    padding: 0.8rem;
                    font-size: 1.8rem;
                    display: block;
                    transition: color 0.3s, transform 0.3s;

                    a {
                        text-decoration: none;
                        color: $secundary-color;
                        position: relative;

                        &::before {
                            content: "";
                            position: absolute;
                            height: 0.2rem;
                            width: 0%;
                            border-radius: 1px;
                            background-color: $white;
                            transition: 0.3s;
                            left: 0;
                            bottom: -0.5rem;
                        }

                        &:hover::before {
                            width: 80%;
                        }
                    }

                    &:hover {
                        transform: scale(1.05);
                        color: $white;
                    }
                }
            }
        }

        .icons {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 0.4rem;
            text-decoration: none;
            column-gap: 1.8rem;

            a {
                color: $secundary-color;
                .icon {
                    font-size: 3.2rem;
                    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.2));
                    transition: color 0.3s, transform 0.3s;

                    &:hover {
                        transform: scale(1.1);
                        color: $white;
                    }
                }
            }
        }
    }

    /******************************************/
    /********* INTRODUCTION    ++++++++++++++++/
    /*****************************************/

    .section-introduction {
        background-color: $secundary-color;
        padding: 9.6rem 0;
        .introduction {
            display: grid;
            grid-template-columns: 1fr 1fr;
            row-gap: 4.4rem;
            column-gap: 9.6rem;
            align-items: center;
            justify-content: space-around;

            .intro-title {
                justify-self: flex-end;

                .name {
                    font-size: 4.4rem;
                    text-align: center;
                    padding-bottom: 1.2rem;
                }

                .position {
                    text-align: center;
                    font-size: 2.4rem;
                    font-weight: 500;
                }
            }

            .profile {
                display: flex;
                gap: 3.2rem;
                align-items: center;

                img {
                    text-align: center;
                    width: 50%;
                    border-radius: 2%;
                }
            }

            .description {
                justify-self: center;
                grid-column: span 2;
                max-width: 60%;
                font-size: 1.8rem;
                display: flex;
                flex-direction: column;
                gap: 2.5rem;
                margin-top: 4.4rem;
            }
        }
    }

    /******************************************/
    /********* EDUCATION            ++++++++++/
    /*****************************************/
    .section-education {
        background-color: $primary-color;
        padding: 9.6rem 0;

        .title {
            justify-content: center;
            filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.4));
            color: $white;
            font-size: 4.4rem;
            font-weight: 700;
            display: flex;
            gap: 3rem;
            align-items: center;

            &-icon {
                font-size: 5.6rem;
                padding-bottom: 0.3rem;
            }
        }

        .education {
            padding: 9.6rem 6.4rem 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 6.4rem;

            .edu-item {
                filter: drop-shadow(3px 5px 2px rgba(255, 255, 255, 0.4));
                display: flex;
                width: 90%;
                flex-direction: row;
                align-items: center;
                column-gap: 8rem;
                background-color: $secundary-color;
                border-radius: 1rem;
                padding: 2.4rem 3.2rem;
                transition: transform 0.3s;

                &:hover {
                    transform: scale(1.05);
                }

                .logo {
                    max-width: 20rem;

                    img {
                        width: 100%;
                    }
                }

                .edu-name {
                    h3 {
                        font-size: 2.8rem;
                        line-height: 2.4rem;
                        margin-bottom: 1rem;
                    }
                    h4 {
                        font-size: 1.6rem;
                        margin-bottom: 2rem;
                    }
                    p {
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }

    /******************************************/
    /********* LABORAL            ++++++++++/
    /*****************************************/

    .section-laboral {
        background-color: $secundary-color;
        padding: 9.6rem 0;

        .title {
            justify-content: center;
            color: $primary-color;
            font-size: 4.4rem;
            font-weight: 700;
            display: flex;
            gap: 3rem;
            align-items: center;

            &-icon {
                font-size: 5.6rem;
                padding-bottom: 0.3rem;
            }
        }

        .laboral {
            padding: 9.6rem 6.4rem 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 6.4rem;

            .lab-item {
                border: 3px solid $primary-color;
                filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.4));
                display: flex;
                width: 90%;
                flex-direction: row;
                align-items: center;
                column-gap: 8rem;
                background-color: $secundary-color;
                border-radius: 1rem;
                padding: 2.4rem 3.2rem;
                transition: transform 0.5s, background-color 0.5s;

                &:hover {
                    background-color: $white;
                    transform: scale(1.05);
                }

                .logo {
                    max-width: 20rem;

                    img {
                        width: 100%;
                    }
                }

                .lab-name {
                    h3 {
                        font-size: 2.8rem;
                        line-height: 2.4rem;
                        margin-bottom: 1rem;
                    }
                    h4 {
                        font-size: 1.6rem;
                        margin-bottom: 2rem;
                    }
                    p {
                        font-size: 1.6rem;
                    }
                }
            }
        }
    }

    /******************************************/
    /********* CERTIFICATIONS    ++++++++++++++++/
    /*****************************************/

    .section-certifications {
        background-color: $primary-color;
        padding: 9.6rem 0;

        .title {
            justify-content: center;
            color: $secundary-color;
            font-size: 4.4rem;
            font-weight: 700;
            display: flex;
            gap: 3rem;
            align-items: center;

            &-icon {
                font-size: 5.6rem;
                padding-bottom: 0.3rem;
            }
        }

        .certifications {
            display: flex;
            flex-direction: column;
            padding: 9.6rem 6.4rem 0;
            align-items: center;
            justify-content: center;
            row-gap: 3.2rem;
            max-width: 130rem;

            .certi-item {
                filter: drop-shadow(3px 5px 2px rgba(255, 255, 255, 0.4));
                display: flex;
                align-items: center;
                gap: 3.2rem;
                color: $primary-color;
                padding: 1.2rem 2.4rem;
                border: 3px solid $primary-color;
                border-radius: 1rem;
                background-color: $white;
                border: 3px solid $white;
                width: 70%;
                transition: transform 0.3s, background-color 0.3s;

                &:hover {
                    background-color: $white;
                    transform: scale(1.05);
                }

                .certi-logo {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 10rem;

                    img {
                        max-height: 6rem;
                        width: 100%;
                    }
                }

                .certi-name {
                    h3 {
                        font-size: 2rem;
                    }
                    p {
                        font-size: 1.8rem;
                    }
                }
            }
        }
    }

    footer {
        .cv-btn {
            color: $secundary-color;
            cursor: pointer;
            background-color: $primary-color;
            border-radius: 1rem;
            transition: transform 0.5s;
            border: none;

            a {
                padding: 1.2rem;
                font-size: 1.4rem;
                display: flex;
                align-items: center;
                text-decoration: none;
                color: $secundary-color;
                gap: 0.8rem;
                font-weight: 500;

                .down-icon {
                    font-size: 1.8rem;
                }
            }

            &:hover {
                transform: scale(1.05);
            }

            &:active {
                transform: scale(1.03);
            }
        }
    }
}
