@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Silkscreen&display=swap");

$primary-color: rgb(0, 0, 0);
$font-color: rgb(170, 170, 170);

*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: rgb(42, 69, 69);
    header {
        background-color: rgb(0, 0, 0);
        height: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 1.7rem;

        .logo {
            display: flex;
            line-height: 1;
            align-items: baseline;
            font-family: Quicksand, "Courier New", Courier, monospace;
            overflow: visible;
            background-color: rgb(0, 0, 0);

            img {
                width: 3rem;
                background-color: $font-color;
            }

            :hover {
                background-color: white;
            }
        }

        .icons {
            display: flex;
            font-size: 2rem;
            text-decoration: none;
            column-gap: 1.2rem;

            a {
                color: $font-color;
                :hover {
                    color: white;
                }
            }
        }
    }
}
