@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap");
/*
- FONT SIZE (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
- SPACING SYSTEM (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 40 / 48 / 56 / 64 / 80 / 96 / 128
*/
*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Nunito", sans-serif;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #bcbebf;
  height: 200vh;
  color: #212529;
  /******************************************/
  /********* REUSABLE ITEMS ++++++++++++++++/
  /*****************************************/
  /******************************************/
  /********* HEADER         ++++++++++++++++/
  /*****************************************/
  /******************************************/
  /********* INTRODUCTION    ++++++++++++++++/
  /*****************************************/
  /******************************************/
  /********* EDUCATION            ++++++++++/
  /*****************************************/
  /******************************************/
  /********* LABORAL            ++++++++++/
  /*****************************************/
  /******************************************/
  /********* CERTIFICATIONS    ++++++++++++++++/
  /*****************************************/
}
body .container {
  /* 1140px */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
body .header {
  background-color: #212529;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 2.4rem 0.8rem 1.6rem;
}
body .header .logo .header-logo {
  filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.4));
  fill: rgb(255, 255, 255);
  height: 5.6rem;
  width: 5.6rem;
  cursor: pointer;
  transition: fill 0.3s, transform 0.3s;
}
body .header .logo .header-logo:hover {
  fill: rgb(255, 255, 255);
  transform: scale(1.05);
}
body .header .features .features-list {
  display: flex;
  gap: 3.2rem;
  list-style: none;
  text-decoration: none;
}
body .header .features .features-list .feature {
  filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.4));
  padding: 0.8rem;
  font-size: 1.8rem;
  display: block;
  transition: color 0.3s, transform 0.3s;
}
body .header .features .features-list .feature a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  position: relative;
}
body .header .features .features-list .feature a::before {
  content: "";
  position: absolute;
  height: 0.2rem;
  width: 0%;
  border-radius: 1px;
  background-color: rgb(255, 255, 255);
  transition: 0.3s;
  left: 0;
  bottom: -0.5rem;
}
body .header .features .features-list .feature a:hover::before {
  width: 80%;
}
body .header .features .features-list .feature:hover {
  transform: scale(1.05);
  color: rgb(255, 255, 255);
}
body .header .icons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.4rem;
  text-decoration: none;
  -moz-column-gap: 1.8rem;
       column-gap: 1.8rem;
}
body .header .icons a {
  color: rgb(255, 255, 255);
}
body .header .icons a .icon {
  font-size: 3.2rem;
  filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.2));
  transition: color 0.3s, transform 0.3s;
}
body .header .icons a .icon:hover {
  transform: scale(1.1);
  color: rgb(255, 255, 255);
}
body .section-introduction {
  background-color: rgb(255, 255, 255);
  padding: 9.6rem 0;
}
body .section-introduction .introduction {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.4rem;
  -moz-column-gap: 9.6rem;
       column-gap: 9.6rem;
  align-items: center;
  justify-content: space-around;
}
body .section-introduction .introduction .intro-title {
  justify-self: flex-end;
}
body .section-introduction .introduction .intro-title .name {
  font-size: 4.4rem;
  text-align: center;
  padding-bottom: 1.2rem;
}
body .section-introduction .introduction .intro-title .position {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 500;
}
body .section-introduction .introduction .profile {
  display: flex;
  gap: 3.2rem;
  align-items: center;
}
body .section-introduction .introduction .profile img {
  text-align: center;
  width: 50%;
  border-radius: 2%;
}
body .section-introduction .introduction .description {
  justify-self: center;
  grid-column: span 2;
  max-width: 60%;
  font-size: 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  margin-top: 4.4rem;
}
body .section-education {
  background-color: #212529;
  padding: 9.6rem 0;
}
body .section-education .title {
  justify-content: center;
  filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.4));
  color: rgb(255, 255, 255);
  font-size: 4.4rem;
  font-weight: 700;
  display: flex;
  gap: 3rem;
  align-items: center;
}
body .section-education .title-icon {
  font-size: 5.6rem;
  padding-bottom: 0.3rem;
}
body .section-education .education {
  padding: 9.6rem 6.4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6.4rem;
}
body .section-education .education .edu-item {
  filter: drop-shadow(3px 5px 2px rgba(255, 255, 255, 0.4));
  display: flex;
  width: 90%;
  flex-direction: row;
  align-items: center;
  -moz-column-gap: 8rem;
       column-gap: 8rem;
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
  padding: 2.4rem 3.2rem;
  transition: transform 0.3s;
}
body .section-education .education .edu-item:hover {
  transform: scale(1.05);
}
body .section-education .education .edu-item .logo {
  max-width: 20rem;
}
body .section-education .education .edu-item .logo img {
  width: 100%;
}
body .section-education .education .edu-item .edu-name h3 {
  font-size: 2.8rem;
  line-height: 2.4rem;
  margin-bottom: 1rem;
}
body .section-education .education .edu-item .edu-name h4 {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}
body .section-education .education .edu-item .edu-name p {
  font-size: 1.6rem;
}
body .section-laboral {
  background-color: rgb(255, 255, 255);
  padding: 9.6rem 0;
}
body .section-laboral .title {
  justify-content: center;
  color: #212529;
  font-size: 4.4rem;
  font-weight: 700;
  display: flex;
  gap: 3rem;
  align-items: center;
}
body .section-laboral .title-icon {
  font-size: 5.6rem;
  padding-bottom: 0.3rem;
}
body .section-laboral .laboral {
  padding: 9.6rem 6.4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6.4rem;
}
body .section-laboral .laboral .lab-item {
  border: 3px solid #212529;
  filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.4));
  display: flex;
  width: 90%;
  flex-direction: row;
  align-items: center;
  -moz-column-gap: 8rem;
       column-gap: 8rem;
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
  padding: 2.4rem 3.2rem;
  transition: transform 0.5s, background-color 0.5s;
}
body .section-laboral .laboral .lab-item:hover {
  background-color: rgb(255, 255, 255);
  transform: scale(1.05);
}
body .section-laboral .laboral .lab-item .logo {
  max-width: 20rem;
}
body .section-laboral .laboral .lab-item .logo img {
  width: 100%;
}
body .section-laboral .laboral .lab-item .lab-name h3 {
  font-size: 2.8rem;
  line-height: 2.4rem;
  margin-bottom: 1rem;
}
body .section-laboral .laboral .lab-item .lab-name h4 {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}
body .section-laboral .laboral .lab-item .lab-name p {
  font-size: 1.6rem;
}
body .section-certifications {
  background-color: #212529;
  padding: 9.6rem 0;
}
body .section-certifications .title {
  justify-content: center;
  color: rgb(255, 255, 255);
  font-size: 4.4rem;
  font-weight: 700;
  display: flex;
  gap: 3rem;
  align-items: center;
}
body .section-certifications .title-icon {
  font-size: 5.6rem;
  padding-bottom: 0.3rem;
}
body .section-certifications .certifications {
  display: flex;
  flex-direction: column;
  padding: 9.6rem 6.4rem 0;
  align-items: center;
  justify-content: center;
  row-gap: 3.2rem;
  max-width: 130rem;
}
body .section-certifications .certifications .certi-item {
  filter: drop-shadow(3px 5px 2px rgba(255, 255, 255, 0.4));
  display: flex;
  align-items: center;
  gap: 3.2rem;
  color: #212529;
  padding: 1.2rem 2.4rem;
  border: 3px solid #212529;
  border-radius: 1rem;
  background-color: rgb(255, 255, 255);
  border: 3px solid rgb(255, 255, 255);
  width: 70%;
  transition: transform 0.3s, background-color 0.3s;
}
body .section-certifications .certifications .certi-item:hover {
  background-color: rgb(255, 255, 255);
  transform: scale(1.05);
}
body .section-certifications .certifications .certi-item .certi-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10rem;
}
body .section-certifications .certifications .certi-item .certi-logo img {
  max-height: 6rem;
  width: 100%;
}
body .section-certifications .certifications .certi-item .certi-name h3 {
  font-size: 2rem;
}
body .section-certifications .certifications .certi-item .certi-name p {
  font-size: 1.8rem;
}
body footer .cv-btn {
  color: rgb(255, 255, 255);
  cursor: pointer;
  background-color: #212529;
  border-radius: 1rem;
  transition: transform 0.5s;
  border: none;
}
body footer .cv-btn a {
  padding: 1.2rem;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
  gap: 0.8rem;
  font-weight: 500;
}
body footer .cv-btn a .down-icon {
  font-size: 1.8rem;
}
body footer .cv-btn:hover {
  transform: scale(1.05);
}
body footer .cv-btn:active {
  transform: scale(1.03);
}/*# sourceMappingURL=styles.css.map */